.cell-input {
  width: 100%;
  border: none;
}
.cell-title-input {
  width: 100%;
  border: none;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  color: #fff;
}
.index-cell {
  width: 50px;
  text-align: center;
}

.invalid-cell {
  background-color: var(--danger);
}
